<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h1 th:text="${subtitulo}"></h1>
	
	<h1>Pasando datos a la vista</h1>

	<p th:text="${parrafo1}"></p>
	<p th:text="${parrafo2}"></p>
	<p th:text="${parrafo3}"></p>
	<p th:text="${parrafo4}"></p>
	
	<hr/>

	<table>
		<thead>
			<tr>
				<th>País</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pais:${paises}">
				<td th:text="${pais}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>