<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Envio de parametros</title>
</head>
<body>
	
	<p>Importante: fijate en la URL</p>
	
	<h1>@RequestParam</h1>
	
	
	<a th:href="@{/params/(nombre=Juan)}">/params?nombre=Juan</a><br>
	<a th:href=@{/params/(nombre=Jorge)}>/params?nombre=Jorge</a>
	
	<br><br>
	
	<span th:text="${datos1}"></span>
	
	<br><br>
	
	<hr>
	
	<a th:href="@{/params/mix-params/(nombre=Juan,edad=10)}">/params/mix-params/?nombre=Juan&edad=10</a>
	<br>
	<a th:href="@{/params/mix-params/(nombre=Jorge,edad=8)}">/params/mix-params/?nombre=Jorge&edad=8</a>
	
	<br><br>
	
	<span th:text="${datos2}"></span>
	
	<br><br>
	
	<hr>
	
	<h2>@PathVariable</h2>
	
	<a th:href="@{/params/variables/Juan}">/params/variables/Juan</a><br>
	<a th:href="@{/params/variables/Jorge}">/params/variables/Jorge</a>
	
	<br><br>
	
	<span th:text="${datos3}"></span>
	
	<br><br>
	
	<hr>
	
	<a th:href="@{/params/mix-variables/Juan/10}">/params/variables/Juan/10</a><br>
	<a th:href="@{/params/mix-variables/Jorge/8}">/params/variables/Jorge/8)</a>
	
	<br><br>
	
	<span th:text="${datos4}"></span>

</body>
</html>